<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DevJournal - Daily News</title>
    <meta name="viewport" content="width=device-width" />
  </head>
  <body style="margin: 0; padding: 0; background-color: #F8F4F4;">
    <div style="margin: 0 auto;  background-color: #FFF; width: 600px;" width="600">
      <!-- start of: Header-->
      <h1 style="margin: 0; padding: 10px; text-align: left; font-family: Georgia, Arial; border-bottom: 1px solid #D5D5D5;">
        <img src="http://icons.iconarchive.com/icons/iconsmind/outline/128/Newspaper-icon.png" width="35" height="35" style="float: left; padding-right: 10px;"/>
        DevJournal - Axado
      </h1>
      <!-- end of: Header -->

      <!-- start of: Content -->
      <table style="padding: 10px;" width="600">
        <!-- start of: User data -->
        <tr>
          <td width="50">
            <table>
              <tr>
                <td style="margin: 0; padding-right: 10px;">
                  <img src="https://avatars3.githubusercontent.com/u/1215403?v=3&s=460" width="50" height="50" style="margin: 0; outline: 1px solid #ccc; padding: 2px;" />
                </td>
              </tr>
            </table>
          </td>

          <!-- start of: Container Projects -->
          <td>
            <!-- start of: Project -->
            <table style="margin: 0; padding-left: 15px; border-left: 1px solid #ccc; padding-bottom: 20px;">
              <tr>
                <td style="width: 480px;" width="480">
                  <h1 style="margin: 0; border-bottom: 1px solid #D5D5D5;">
                    <table>
                      <tr>
                        <td><img src="./github-icon-repo.png" width="25" height="25" style="margin: 0; padding-top: 11px;"/></td>
                        <td style="font-family: Georgia, Arial; font-size: 25px;">Oca</td>
                      </tr>
                    </table>
                  </h1>
                </td>
              </tr>

              <!-- start of: Milestone -->
              <tr>
                <td style="padding-top: 10px; width: 480px;" width="480">
                  <h4 style="margin: 0; padding-left: 5px;">
                    <table>
                      <tr>
                        <td><img src="./github-icon-milestone.png" width="16" height="16" style="margin: 0;"/></td>
                        <td width="300">Relatório de Utilização</td>

                        <td style="text-align: right; font-size: 12px;" width="70"><span style="color: red;">40</span>/<span style="color: green;">100</span></td>
                        <td style="text-align: right; font-size: 13px;" width="70">30/10/2015</td>
                      </tr>
                    </table>
                  </h4>
                </td>
              </tr>

              <tr>
                <!-- start of: Milestone Events -->
                <td style="width: 480px;" width="480">
                  <table style="margin: 0; padding-left: 10px;">
                    <tr>
                      <td style="color: #FFF; font-family: Georgia, Arial; font-size: 9px; font-weight: bold; text-align: center; background-color: #207de5; padding: 4px;">in progress</td>
                      <td style="font-family: Georgia, Arial; font-size: 14px; padding-left: 5px;" width="350">Simplificar exportação dos dados de consulta</td>
                      <td><a href="#" style="color: #4078C0; text-decoration: none; font-family: Georgia, Arial">#190</a></td>
                    </tr>
                    <tr>
                      <td style="color: #FFF; font-family: Georgia, Arial; font-size: 9px; font-weight: bold; text-align: center; background-color: #e11d21; padding: 4px;">bug</td>
                      <td style="font-family: Georgia, Arial; font-size: 14px; padding-left: 5px;" width="350">Simplificar exportação dos dados de consulta</td>
                      <td><a href="#" style="color: #4078C0; text-decoration: none; font-family: Georgia, Arial">#190</a></td>
                    </tr>
                  </table>
                </td>
                <!-- end of: Milestone Events -->
              </tr>
              <!-- end of: Milestone -->
            </table>
            <!-- end of: Project -->
          </td>
          <!-- end of: Container Projects -->
        </tr>
        <!-- end of: User data -->
        <!-- start of: User data -->
        <tr>
          <td width="50">
            <table>
              <tr>
                <td style="margin: 0; padding-right: 10px;">
                  <img src="https://avatars0.githubusercontent.com/u/310139?v=3&s=400" width="50" height="50" style="margin: 0; outline: 1px solid #ccc; padding: 2px;" />
                </td>
              </tr>
            </table>
          </td>

          <!-- start of: Container Projects -->
          <td>
            <!-- start of: Project -->
            <table style="margin: 0; padding-left: 15px; border-left: 1px solid #ccc;">
              <tr>
                <td style="width: 385px; padding: 50px 10px;" width="400">
                  <p style="font-family: Georgia, Arial; font-size: 18px;">
                    Nenhuma novidade hoje!
                  </p>
                </td>
              </tr>
            </table>
            <!-- end of: Project -->
          </td>
          <!-- end of: Container Projects -->
        </tr>
        <!-- end of: User data -->
      </table>
      <!-- end of: Content -->
    </div>
  </body>
</html>
